<div class="title">Your boards</div>
<div class="boards-preview">
  <div class="board" (click)="toggleIfClosed()">
    <h3> Create new board </h3>
    <app-menu #newBoardMenu [position]="'mid-right'" [title]="'Creat new board'">
      <app-new-board-menu [workspaces]="workspaces" [currentWorkspace]="workspace" (submitNewBoard)="onSubmit($event)">
      </app-new-board-menu>
    </app-menu>
  </div>
  <div class="board" *ngFor="let board of boards" (click)="onBoardClick(board)">
    <h3> {{ board.name }} </h3>
  </div>
</div>
