@import "constants";
@import "functions";

button {
  display: block;
  justify-content: space-around;
  text-align: center;
  border-radius: $BorderRadius;
  padding: times8(2) times8(3);
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  .content {
    min-width: fit-content;

  }

  &.icon {
    padding: 0;
    width: times8(4);
    height: times8(4);
    display: grid;
    place-content: center;
    background-color: transparent;

    &:hover {
      background-color: $SidbarLinkHover;
    }
  }

  app-icon {
    display: inline-block;

    fa-icon {
      margin: 0 times8(1);
    }
  }

  &:focus:not(.raised) {
    outline: none;
  }

  &.primary {
    color: $White;
    background-color: $Blue;

    &:hover {
      background-color: $DarkBlue;
      transition: $transition;
    }
  }

  &.primary-outline {
    color: $Blue;
    border: 1px solid $Blue;
    background-color: transparent;

    &:hover {
      background-color: $Blue;
      color: $White;
      transition: $transition;
    }
  }

  &.link {
    color: $Blue;
    font-weight: 600;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
      transition: $transition;
    }
  }

  &.success {
    color: $White;
    background-color: $Green;

    &:hover:not(:disabled) {
      background-color: $LightGreen;
      transition: $transition;
    }
  }

  &.primary.raised {
    color: $White;
    background-color: $Blue;
    box-shadow: 0 4px 8px #6a5959;

    &:hover {
      background-color: $DarkBlue;
      transition: $transition;
    }

    &:active {
      transform: translateY(2px);
      transition: all ease-out .1s;
      box-shadow: 0 0 4px $Shadow;
    }
  }

  &.success.raised {
    color: $White;
    background-color: $Green;
    box-shadow: 0 4px 8px #6a5959;

    &:hover:not(disabled) {
      background-color: $LightGreen;
      transition: $transition;
    }

    &:active {
      transform: translateY(2px);
      transition: all ease-out .1s;
      box-shadow: 0 0 4px $Shadow;
    }
  }

  &.raised {
    background-color: transparent;
    box-shadow: 0 2px 10px $Shadow;
    color: $GreyText;

    &:hover {
      background-color: $WhiteHover;
      transition: $transition;
    }

    &:active {
      transform: translateY(2px);
      transition: all ease-out .1s;
      box-shadow: 0 0 4px $Shadow;
    }
  }

  &:disabled {
    background-color: $LightGrey;
    cursor: initial;
  }

}
