//  COLORS
$Blue: #0065ff;
$BlueShadow: #0065ff40;
$LightBlue: #80b2ff;
$DarkBlue: #0051cc;
$DarkerBlue: #293856;
$Black: #091e42;
$Grey: #495057;
$GreyText: #5E6C84;
$LightGrey: #ced4da;
$White: #ffffff;
$WhiteHover: #F9FAFC;
$Green: #5aac44;
$LightGreen: #61BD4F;
$Shadow: #0000001a;
$InputBorder: #DFE1E6;
$InputBackground: #FAFBFC;
$InputBorderFocus: #4C9AFF;
$Red: rgb(255, 64, 64);

$ModalMaskBackground: #4c4c4c7a;

// MENUS
$TopnavBackground: #026aa7;
$SidbarLinkHover: #091e4214;
$SidebarLinkActive: #e4f0f6;
$SidebarLinkActiveText: #0079bf;
$TopnavHeight: 45px;
$MenuButtonBackground: #091e420a;
$MenuButtonText: #6f737c;

// FONT SIZE
$FontSmall: 14px;
$FontRegular: 16px;
$FontMedium: 20px;
$FontLarge: 24px;
$FontXL: 32px;

// MISC
$transition-time: .3s;
$transition: all ease-in-out $transition-time;

$BorderRadius: 6px;
$BoxShadow: $Shadow 0 0 10px;
$CardWidthDefualt: 400px;

$CardModalBackgroung: #f4f5f7;
