//  COLORS
$Blue: #0065ff;
$BlueShadow: #0065ff40;
$LightBlue: #80b2ff;
$DarkBlue: #0051cc;
$DarkerBlue: #293856;
$Black: #091e42;
$Grey: #495057;
$LightGrey: #ced4da;

// MISC
$transition-time: .2s;
$transition: all ease-in-out $transition-time;

$BorderRadius: 6px;
