@import "constants";

input {
  color: $Grey;
  padding: 4px 8px;
  font-size: $FontSmall;
  border: none;
  border: 1px solid $InputBorder;
  border-radius: 3px;
  height: times8(3);
  width: -webkit-fill-available;
  background-color: $InputBackground;

  &.ng-invalid.ng-touched {
    outline: 2px solid $Red;
    animation: shadowBlink 1s ease-in-out;
  }

  &:focus {
    outline: none;

    &:not(.ng-invalid.ng-touched) {
      outline: 2px solid #4C9AFF;
    }
  }
}


@keyframes shadowBlink {
  0% {
    box-shadow: 0 0 20px $Red;
  }

  100% {

    box-shadow: 0 0 0 $Red;
  }
}
