@import "constants";
@import "functions";

app-menu {
  color: $GreyText;
  z-index: 10000;
  width: 300px;

  .card {
    padding: 0 times8(1);
  }

  .menu {
    .title {
      text-align: center;
      padding: times8(1.5);
    }

    .items {
      .item {
        cursor: pointer;
        line-height: times8(3);
        padding: 4px;
        font-weight: 300;
        font-size: 14px;

        &:hover {
          background-color: $SidbarLinkHover;
        }
      }
    }
  }
}
