@import "../scss/functions.scss";
@import "../scss/constants.scss";

app-card {
  .container {
    .side-menu {
      app-card-side-menu {
        .container {
          padding-left: times8(2);
          color: $MenuButtonText;

          .list {
            margin-top: times8(3);

            .list-title {
              font-size: $FontSmall;
            }

            .menu {
              position: relative;
              margin-top: times8(1);
            }
          }
        }
      }
    }
  }
}
