@import "constants";
@import "functions";

.sidebar {
  .sub-menu {
    margin-top: times8(2);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: times8(3);
      margin-right: times8(3);
    }
  }
}
