@import "functions";

:host {
  .menu {
    position: relative;

    .members {
      .member {
        display: flex;
        align-items: center;
        column-gap: times8(2);
        margin-top: times8(2);

        .picture>img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: grid;
          place-content: center;
        }

        .name {}
      }
    }
  }

}
