<div class="login bg-light center">
  <app-card>
    <h5 class="text-center c-grey">Log in to Trello.</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input mt-2">
        <input formControlName="email" type="text" placeholder="Enter email">
      </div>
      <div class="input mt-2">
        <input formControlName="password" type="password" placeholder="Enter password">
      </div>
      <div class="messages">
        <p *ngFor="let message of messages" class="font-sm center c-red"> {{ message }} </p>
      </div>
      <div>
        <button type="submit" class="success width-10 mt-2">Log in</button>
        <div class="text-center mt-2 c-lightgrey">OR</div>
        <div class="br"></div>
        <button type="button" class="raised width-10 mt-2">Log in with Google</button>
        <button type="button" class="raised width-10 mt-2">Log in with Facebook</button>
      </div>
    </form>
  </app-card>
</div>
