@import "constants";
@import "functions";

.dropdown {
  margin-left: times8(3);
  margin-right: times8(3);
  height: 40px;
  overflow: hidden;
  margin-top: times8(1);
  transition: all .3s ease-in-out;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: times8(1) times8(1);

    &:hover {
      background-color: $SidbarLinkHover;
      cursor: pointer;
      border-radius: $BorderRadius;
    }

    .title {
      font-size: $FontSmall;
      font-weight: 700;
    }

    app-icon {
      transform: rotateZ(0);
      transition: $transition;
      color: $GreyText;

      &.open {
        transform: rotateZ(180deg);
        transition: $transition;
      }
    }
  }

  .items {
    margin-top: times8(1);

    .menu-item {
      padding-left: times8(3);
      height: times8(4);
      font-size: $FontSmall;
    }
  }
}
