<ng-container *ngIf="_lists.length > 0">
  <div cdkDropList #lists="cdkDropList" [cdkDropListData]="_lists" (cdkDropListDropped)="onDrop($event)" class="lists"
    cdkDropListLockAxis="x" cdkDropListOrientation="horizontal">
    <ng-container *ngFor="let list of _lists">
      <div cdkDrag>
        <app-card class="list" className="list-card">
          <div *cdkDragPlaceholder [ngStyle]="{ width: '270px' }"></div>
          <div cdkDragHandle>
            <div class="header pointer">
              <div>{{ list.name }}</div>
              <app-button className="icon" [icon]="Icons.EllipsisV"></app-button>
            </div>
          </div>
          <app-list [list]="list" (createCard)="onCardCreate($event)" (updateList)="onUpdateList($event)"></app-list>
        </app-card>
      </div>
    </ng-container>
  </div>
</ng-container>
