@import "constants";
@import "media";

$SidebarWidth: 300px;

:host {
  display: grid;
  grid-template: "topnav topnav"45px "sidebar content"100vh / 300px calc(100% - 300px);

  &:not(.closed) {
    .content {
      transform: translate3d(0, 0, 0);
      transition: $transition;
    }
  }

  &.closed {
    grid-template: "topnav topnav"45px "sidebar content"calc(100vh - 45px) / 7% 93%;

    .content {
      transition: $transition;
    }
  }

  app-sidebar {
    grid-area: sidebar;
    width: $SidebarWidth;
    transition: $transition;
  }

  app-topnav {
    grid-area: topnav;
  }

  .content {
    transform: translate3d(0%, 0, 0);
    transition: $transition;
  }

  @media only screen and(max-width: $LargeScreen) {
    &.closed {
      .content {
        transform: translate3d(0, 0, 0);
      }
    }

    app-sidebar {
      padding-left: 0;
    }

    .content {
      margin-left: 0;
    }
  }

  @media only screen and(max-width: $SmallScreen) {
    grid-template: "topnav topnav"45px "sidebar content"calc(100vh - 45px) / 10% 90%;

    &.closed {
      grid-template: "topnav topnav"45px "sidebar content"calc(100vh - 45px) / 10% 90%;
    }

    &:not(.closed) {
      .content {
        z-index: 1;
      }

      app-sidebar {
        z-index: 2;
        background-color: $White;
      }
    }
  }
}
