@import "../../../../assets/scss/functions.scss";
@import "../../../../assets/scss/constants";

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: times8(2);
  padding: 0 times8(3);
  position: relative;


  &:hover {
    background-color: $SidbarLinkHover;
  }

  .icon {
    display: grid;
    place-content: center;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    user-select: none;
    color: $Black;
    border: 1px solid $Blue;
  }

  .name {
    flex-grow: 1;
    font-size: $FontSmall;
    cursor: pointer;
  }
}
