@import "../../../../assets/scss/constants.scss";
@import "../../../../assets/scss/functions";

:host {

  .title {
    color: $GreyText;
    font-size: $FontMedium;
  }

  .boards-preview {
    display: flex;
    align-items: center;
    column-gap: times8(2);
    row-gap: times8(2);
    flex-wrap: wrap;

    .board {
      &:nth-child(1) {
        border: 1px solid $InputBorder;
        background-color: $White;

        &:hover {
          background-color: $LightGrey;
        }
      }

      border-radius: $BorderRadius;
      width: 150px;
      height: 150px;
      font-size: $FontSmall;
      background-color: $LightGrey;
      display: grid;
      place-content: center;
      cursor: pointer;
      line-break: loose;

      h3 {
        color: $Grey;
        text-align: center;
      }
    }
  }
}
