@import "constants";

:host {

  .container {
    background-color: $CardModalBackgroung;
    height: 100%;

    display: flex;
    flex-direction: row;

    .card {
      overflow: scroll;
      flex-grow: 5;

      &::-webkit-scrollbar {
        display: none;
      }

    }

    .side-menu {
      flex-grow: 1;
    }
  }
}
