<div class="title">Your boards</div>
<div class="boards-preview">
  <div class="board" (click)="newBoardMenu.onToggle($event)" #board>
    <h3> Create new board </h3>
    <ui-menu #newBoardMenu [title]="'Creat new board'" (hide)="form.resetForm()">
      <app-new-board-menu #form [workspaces]="workspaces" [currentWorkspace]="workspace"
        (submitNewBoard)="onSubmit($event)">
      </app-new-board-menu>
    </ui-menu>
  </div>
  <div class="board" *ngFor="let board of boards" (click)="onBoardClick(board)">
    <h3> {{ board.name }} </h3>
  </div>
</div>
