@import "constants";

:host {
  display: grid;
  grid-template: "topnav topnav"auto "sidebar content"1fr / 25vw 1fr;
  grid-template-rows: $TopnavHeight calc(100vh - $TopnavHeight);

  app-sidebar {
    grid-area: sidebar;
  }

  app-topnav {
    grid-area: topnav;
  }

  .content {}
}
