@import "constants";
@import "media";

$SidebarWidth: 300px;

:host {
  display: grid;
  grid-template: "topnav topnav"45px "sidebar content"calc(100vh - 45px) / 300px 1fr;
  grid-template-rows: $TopnavHeight calc(100vh - $TopnavHeight);
  transition: all 3s ease-in-out;

  app-sidebar {
    grid-area: sidebar;
    width: $SidebarWidth;
    padding-left: 300px;
  }

  app-topnav {
    grid-area: topnav;
  }

  .content {
    margin-left: 300px;
    transform: translate3d(0%, 0, 0);
    transition: all .3s ease-in-out;
  }

  @media only screen and(max-width: $MediumScreen) {
    app-sidebar {
      padding-left: 0;
    }

    .content {
      margin-left: 0;
    }
  }
}
