<div class="dropdown" #dropdown>
  <div class="header" (click)="onToggle()">
    <div class="header-title">
      <ui-logo-preview [name]="title" [size]="0"></ui-logo-preview>
      <span class="title">{{ title }}</span>
    </div>
    <ui-icon class="pointer" #icon [icon]="Icons.ChevronDown">
    </ui-icon>
  </div>
  <div class="items">
    <div *ngFor="let item of items" class="menu-item">
      <ui-icon *ngIf="item.icon" [icon]="item.icon" class="mr-2"></ui-icon>
      <span>{{ item.label }}</span>
    </div>
  </div>
</div>
