@import "../../../../assets/scss/functions.scss";

.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: times8(2);
  overflow: overlay;

  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin-bottom: times8(1);
    position: relative;
  }
}
