@import 'constants';

:host {
  .sidebar {
    app-icon.toggle {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $White;
      border-radius: 50%;
      box-shadow: $BoxShadow;
      width: 25px;
      height: 25px;
      display: grid;
      place-content: center;
    }

    .links {
      .link {
        height: 30px;

        a {
          text-decoration: none;
          color: $Black;
          font-weight: 500;
          letter-spacing: 1px;
          display: block;
          padding: 6px 12px;
          margin-top: 8px;
          border-radius: 4px;

          app-icon {
            margin-right: 8px;
          }

          &:hover {
            background-color: $SidbarLinkHover;
          }

          &.active {
            color: $SidebarLinkActiveText;
            background-color: $SidebarLinkActive;
          }
        }
      }
    }
  }

  &.closed {

    .sidebar {
      app-icon.toggle {
        transform: rotateZ(540deg);
        transition: all .3s ease-in-out;
        right: -14px;
      }
    }
  }
}
