<ng-container *ngIf="_show">
  <app-card className="menu">
    <div class="menu">
      <ng-container *ngIf="title">
        <div class="title">{{ title }}</div>
      </ng-container>
      <!-- Custom menu content -->
      <ng-content></ng-content>

      <div class="items" *ngFor="let menu of menus">
        <div class="br mb-1 mt-1"></div>
        <div class="headline">{{ menu.headline }}</div>
        <ng-container *ngFor="let item of menu.items">
          <div class="item" (click)="onItemClick(item)">{{ item.label }}</div>
        </ng-container>
      </div>
    </div>
  </app-card>
</ng-container>