<div class="list" #cards="cdkDropList" cdkDropList [cdkDropListData]="list.cards" cdkDropListLockAxis="y"
  cdkDropListOrientation="vertical" (cdkDropListDropped)="onDrop($event)">
  <ng-container *ngFor="let card of list.cards">
    <div cdkDrag class="mb-1">
      <div *cdkDragPlaceholder [ngStyle]="{height: getHeight(cardPreview), marginBottom: '10px'}"></div>
      <app-list-card-preview #cardPreview [card]="card" class="pointer">
      </app-list-card-preview>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="!createMode">
  <ui-button [className]="'width-10'" (click)="onAddCard()">Add card</ui-button>
</ng-container>
<ng-container *ngIf="createMode">
  <ui-card className="preview-card">
    <textarea [formControl]="newCardName" name="" id="" cols="31" rows="3" autofocus class="clean"></textarea>
  </ui-card>
  <div class="footer">
    <ui-button className="primary" (click)="onSubmit()">Add Card</ui-button>
    <ui-button className="icon no-hover" [icon]="Icons.Times" (click)="onCancel()"></ui-button>
  </div>
</ng-container>
