/* You can add global styles to this file, and also import other style files */
@import "font";
@import "constants";
@import "buttons";
@import "form";
@import "media";

body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  color: $Black;
}


h1 {
  font-size: 40px;
  font-weight: 500;
}

.bg-light {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(234, 230, 255, 1) 100%);
}
