<div class="register bg-light center">
  <app-card>
    <h5 class="text-center c-grey">Sign up for your account</h5>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input mt-2">
        <input type="text" formControlName="email" placeholder="Enter email">
      </div>
      <div class="legal font-sm c-grey">
        <p>By signing up, you confirm that you've read and accepted our Terms of Service and Privacy Policy.</p>
      </div>
      <div>
        <app-button className="success width-10 mt-2" [disabled]="registerForm.invalid" type="submit">
          Continue
        </app-button>
      </div>
      <div class="mt-3 mb-3 text-center c-grey">OR</div>
      <div>
        <app-button className="raised mt-2 width-10" (click)="onSignInWithGoogle()" [icon]="Icons.Google">Continue with
          Google</app-button>
        <app-button className="raised mt-2 width-10" [icon]="Icons.Microsoft">Continue with Microsoft</app-button>
        <app-button className="raised mt-2 width-10" [icon]="Icons.Apple">Continue with Apple</app-button>
      </div>
      <div class="br mt-4 mb-2"></div>
      <div>
        <app-button type="submit" className="link width-10" [routerLink]="['/login']">Already have an account? Log in
        </app-button>
      </div>

    </form>
  </app-card>
</div>
